<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    {% extends "noticias/base.html" %}
    
    {% block content %}
    <ul>  
        <h2>{{ titulo }}</h2>
            {% for corpo in corpos %}
                <p>{{ corpo.date_added | date:'M d, y H:i'}}</p>
                <p>{{ corpo.text | linebreaks }}</p>
            {% endfor %}
    </ul>

    {% endblock content %}
</body>
</html>

<ul>
    {% for corpo in corpos %}
        <li>{{ corpo.text }}</li>
    {% endfor %}
</ul>