<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima</title>
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    {% extends "noticias/base.html" %}
    
    {% block content %}
    <section class="clima">
        <iframe src="https://www.meteoblue.com/pt/tempo/mapas/widget/azul_bol%c3%advia_3923450?windAnimation=1&gust=1&satellite=1&cloudsAndPrecipitation=1&temperature=1&sunshine=1&extremeForecastIndex=1&geoloc=fixed&tempunit=C&windunit=km%252Fh&lengthunit=metric&zoom=5&autowidth=manu"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 800px; height: 500px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/pt/tempo/mapas/azul_bol%c3%advia_3923450?utm_source=map_widget&utm_medium=linkus&utm_content=map&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
    </section>
    {% endblock content %}
</body>
</html>