<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% extends "noticias/base.html" %}
    
    {% block content %}

    <div id="banner-wrapper">
        <div class="container">

            <div id="banner">
                <h2>Um portal de notícias que te faz pensar...</h2>
                <span>Estamos em construção, com sua colaboração vamos mais longe.</span>
            </div>

        </div>
    </div>
    {% endblock content %}
</body>
</html>