<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias</title>
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    {% extends "noticias/base.html" %}

    {% block content %}
        <ul>
            {% for titulo in titulos %}
                <p >
                    <a class="lista-noticias" href="{% url 'article' titulo.id %}">{{ titulo }}</a>
                </p>
            {% empty %}
                <li>Não há assuntos adicionados</li>
            {% endfor %}
        </ul>
    {% endblock content %}


</body>
</html>