body {
    background-color: hsla(239, 60%, 70%, 0.322);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0803032d;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.clima {
    padding: auto;
}

.artigo h2 {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.artigo p {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 25.6px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 900px;
}
.artigo {
    padding: auto;
    background-color: rgba(0, 0, 255, 0.247);
    border-radius: 10px;
}
